#
# Ansible managed
#

app_mode = production
instance_name = {{ grafana_instance }}

[paths]
data = /var/lib/grafana
logs = /var/log/grafana
plugins = /var/lib/grafana/plugins

[server]
http_addr = 0.0.0.0
http_port = 3000
domain = {{ grafana_instance }}
root_url = http://0.0.0.0:3000
protocol = http
enforce_domain = False
enable_gzip = False

[database]
type = sqlite3

[security]
admin_user = admin
admin_password = admin

[users]
allow_sign_up = False
auto_assign_org_role = Viewer
default_theme = dark

[analytics]
reporting_enabled = "True"

[dashboards]
versions_to_keep = 20

[dashboards.json]
enabled = true
path = /var/lib/grafana/dashboards

[alerting]
enabled = false

[log]
mode = console, file
level = info

[metrics]
enabled = false

[grafana_com]
url = https://grafana.com