---
- import_playbook: ./setup/rename_monitoring_wazuh.yml
- import_playbook: ./setup/rename_monitoring_suricata.yml
- import_playbook: install_suricata.yml

- name: General Windows Server Settings # atm only includes stopping of spooler service
  hosts: dc:fs
  roles:
  - ../roles/windows/general-server

- name: Configure PLUMETECH Domain Controller
  hosts: enterprise:&dc
  roles:
  - ../roles/windows/general-domain-controller
  - ../roles/windows/plumetech-domain-controller

- name: Configure PLUMETECH-OT Domain Controller
  hosts: dmz:&dc
  roles:
  - ../roles/windows/general-domain-controller
  - ../roles/windows/plumetech-ot-domain-controller

- name: Configure File Server
  hosts: enterprise:&fs
  roles:
  - ../roles/windows/general-file-server

- import_playbook: wazuh-single.yml
- import_playbook: wazuh-agent.yml
- import_playbook: install_vendoredr.yml